*{
    margin: 0;
    padding:0;
    background: fixed;
}
.preloadscn{
    min-height: 100vh;
    height: 100%;
    background-color: #053849;
    /* background-color: #011015; */
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999;
    background-repeat: no-repeat;
    position: fixed;
}

.ring{
    width: 200px;
    height: 200px;
    border: 0rem solid #011015;
    border-radius: 50%;
    position: absolute;
}

.ring:nth-child(1)
{
    border-bottom-width:8px ;
    border-color: cyan;
    animation: rotate1 2s linear infinite;
}

.ring:nth-child(2)
{
    border-right-width:8px ;
    border-color: violet;
    animation: rotate2 2s linear infinite;
}

.ring:nth-child(3)
{
    border-top-width:8px ;
    border-color: lightgreen;
    animation: rotate3 2s linear infinite;
}

.loading{
    color: white;
}

@keyframes rotate1 {
    0%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
 
    }
}



@keyframes rotate2 {
    0%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
 
    }
}



@keyframes rotate3 {
    0%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
 
    }
}